.keyboardHolder{
    background-color: aqua;
    width: 50vw;
    align-self: center;


}
.Main{
width: 100%;
display: flex;;
justify-content: center;
align-items: center;
flex-direction: column;
gap:30px;
}
.textBox{
width:50%;
height:250px;


}