.keyboardHolder{
    background-color: aqua;
    width: 650px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding:5px;

}
.Main{
width: 100%;
display: flex;;
justify-content: center;
align-items: center;
flex-direction: column;
gap:30px;
}
.textBox{
width:50%;
height:250px;
-moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;

}
.ButtonMy{
    cursor: pointer;
    border-radius: 5px;
    color: #334433;
    background-color: #CCffcc;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}
.funcButtonMy{
    border-radius: 5px;
    cursor: pointer;
    flex-grow: 4;
    color: #9ddb9d;
    background-color: #475e47;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

.pressed{
    transition-duration: 200ms;
    box-shadow:         inset 0 0 5px #000000;
}